<div id="map" class="map"></div>

<script type="text/javascript">
oGeneralProperties = {$generalProperties};
oWorkerProperties = {$workerProperties};
oViewProperties = {$viewProperties};
oRotationProperties = {$rotationProperties};
oPageProperties = {$pageProperties};
oUserProperties = {$userProperties};
oStates = {$stateProperties};
oLocales = {$locales};
oFileAges = {$fileAges};

// Kick of the worker
addDOMLoadEvent(function()\{runWorker(0, 'map', '{$mapName}');});

// Parses the grid if a user enabled it
gridParse();

{if $zoomFill}addEvent(window, 'resize', function() \{set_zoom('fill');});{/if}
</script>
