<div id="overview" class="infopage"></div>

<script type="text/javascript">
oGeneralProperties = {$generalProperties};
oWorkerProperties = {$workerProperties};
oUserProperties = {$userProperties};
oStates = {$stateProperties};
aMaps = Array();
aRotations = Array();

// Kick of the worker
addDOMLoadEvent(function()\{runWorker(0, 'overview');});

// This disables the context menu when someone clicked anywhere on the map
document.onmousedown = contextMouseDown;
window.onresize = function() { scaleView(); }
</script>
