<ul>
    <!-- BEGIN automap_not_root -->
    <!-- BEGIN host_or_shape -->
    <li><a href="javascript:window.location='index.php?mod=Map&act=view&show=[map_name]'+getViewParams({'root':'[name]'}, true);">[lang_make_root]</a></li>
    <!-- END host_or_shape -->
    <!-- END automap_not_root -->

    <!-- BEGIN stateful -->
    <li><a href="#" onClick="refreshMapObject(event, '[obj_id]'); contextHide();return false">[lang_refresh_status]</a></li>
    <!-- END stateful -->

    <!-- BEGIN not_automap -->
    <!-- BEGIN stateful -->
    <li class="spacer"><hr /></li>
    <!-- END stateful -->
    <!-- BEGIN permitted_edit -->
    <li><a href="#" onClick="cloneObject(event, '[obj_id]');contextHide();return false">[lang_clone]</a></li>
    <!-- BEGIN locked -->
    <li><a href="#" onClick="toggleMapObjectLock(event, '[obj_id]'); contextHide();return false">[lang_unlock]</a></li>
    <!-- END locked -->
    <!-- BEGIN unlocked -->
    <li><a href="#" onClick="toggleMapObjectLock(event, '[obj_id]'); contextHide();return false">[lang_lock]</a></li>
    <li><a href="#" onClick="showAddModifyDialog('[map_name]', '[obj_id]');contextHide();return false">[lang_modify]</a></li>
    <li><a href="#" onClick="removeMapObject('[obj_id]', '[lang_delete_confirm]');contextHide();return false">[lang_delete]</a></li>
    <!-- END unlocked -->
    <!-- END permitted_edit -->
    <!-- END not_automap -->

    <!-- BEGIN host -->
    <li class="spacer"><hr /></li>
    <li><a href="[html_cgi]/cmd.cgi?cmd_typ=55&host=[name]" target="_blank">[lang_schedule_downtime]</a></li>
    <li><a href="[html_cgi]/cmd.cgi?cmd_typ=96&host=[name]&force_check" target="_blank">[lang_reschedule_next_check]</a></li>
    <!-- BEGIN permitted_perform -->
    <li><a href="#" onClick="showAckDialog('[map_name]', '[obj_id]');contextHide();return false">[lang_ack]</a></li>

    <!-- BEGIN action_rdp -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=rdp&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_rdp]</a></li>
    <!-- END action_rdp -->
    <!-- BEGIN action_win_ssh -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=win_ssh&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_ssh]</a></li>
    <!-- END action_win_ssh -->
    <!-- BEGIN action_ssh_url -->
    <li><a href="ssh://[address]/">[lang_action_ssh]</a></li>
    <!-- END action_ssh_url -->
    <!-- BEGIN action_http -->
    <li><a href="http://[address]/" target="_blank">[lang_action_http]</a></li>
    <!-- END action_http -->
    <!-- BEGIN action_https -->
    <li><a href="https://[address]/" target="_blank">[lang_action_https]</a></li>
    <!-- END action_https -->

    <!-- END permitted_perform -->
    <!-- END host -->

    <!-- BEGIN service -->
    <li class="spacer"><hr /></li>
    <li><a href="[html_cgi]/cmd.cgi?cmd_typ=56&host=[name]&service=[service_description]" target="_blank">[lang_schedule_downtime]</a></li>
    <li><a href="[html_cgi]/cmd.cgi?cmd_typ=7&host=[name]&service=[service_description]&force_check" target="_blank">[lang_reschedule_next_check]</a></li>
    <!-- BEGIN permitted_perform -->
    <li><a href="javascript:void(0)" onClick="showAckDialog('[map_name]', '[obj_id]');contextHide();return false">[lang_ack]</a></li>

    <!-- BEGIN action_rdp -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=rdp&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_rdp]</a></li>
    <!-- END action_rdp -->
    <!-- BEGIN action_win_ssh -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=win_ssh&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_ssh]</a></li>
    <!-- END action_win_ssh -->
    <!-- BEGIN action_ssh_url -->
    <li><a href="ssh://[address]/">[lang_action_ssh]</a></li>
    <!-- END action_ssh_url -->
    <!-- BEGIN action_http -->
    <li><a href="http://[address]/" target="_blank">[lang_action_http]</a></li>
    <!-- END action_http -->
    <!-- BEGIN action_https -->
    <li><a href="https://[address]/" target="_blank">[lang_action_https]</a></li>
    <!-- END action_https -->

    <!-- END permitted_perform -->
    <!-- END service -->
</ul>
