<div id="automapModifyParams">
<form name="automapModifyParams" id="automapModifyParams" action="index.php?mod=AutoMap&act=view&show={$automapName}" method="get">
    <input type="hidden" name="mod" value="AutoMap" />
    <input type="hidden" name="act" value="view" />
    <input type="hidden" name="show" value="{$automapName}" />
    <table><tbody>
    {foreach $opts opt cur}
        {if $opt != 'automap' && $opt != 'preview'}
            <tr><td>{$opt}</td><td>
            {if isset($optValues[$opt])}
                <select name="{$opt}">
                {foreach $optValues[$opt] val}
                    {if $val == $cur}
                        <option value="{$val}" selected="selected">{$val}</option>
                    {else}
                        <option value="{$val}">{$val}</option>
                    {/if}
                {/foreach}
                </select>
            {else}
                <input type="text" name="{$opt}" id="{$opt}" value="{$cur}" />
            {/if}
            </td></tr>
        {/if}
    {/foreach}
    {if $permAutomapEdit}
    <tr>
        <td>{$langPermanent}</td>
        <td><input type="checkbox" name="perm" value="1" /></td>
    </tr>
    {/if}
    </tbody></table>
    <input type="submit" name="submit" value="{$langApply}" />
</form>
</div>
