<script type="text/javascript" src="{$pathTemplates}default.header.js"></script>
<div id="header" class="header">
<ul class="head">
	<li class="logo"><a href="{$pathBase}/frontend/nagvis-js/index.php"><img src="{$pathImages}/internal/logo_96x25.png" alt="NagVis" /></a></li>
	<li>
		<dl class="dropdown">
			<dt id="views-ddheader" onmouseover="ddMenu('views',1)" onmouseout="ddMenu('views',-1)">{$langOpen} <img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
			<dd id="views-ddcontent" onmouseover="cancelHide('views')" onmouseout="ddMenu('views',-1)">
				<ul>
					<li><a href="{$pathBase}/frontend/nagvis-js/index.php">{$langOverview}</a></li>
					<li class="spacer"><hr /></li>
					{if count($maps) > 0}
					{foreach $maps map}<li>
						<a class="left" href="{$pathBase}/frontend/nagvis-js/index.php?mod=Map&amp;act=view&amp;show={$map.mapName}{$map.urlParams}">{$map.mapAlias}</a>
						<a class="right" href="{$pathBase}/frontend/wui/index.php?mod=Map&amp;act=edit&amp;show={$map.mapName}{$map.urlParams}">Edit</a>
					</li>{/foreach}
					<li class="spacer"><hr /></li>
					{/if}
					{if count($automaps) > 0}
					{foreach $automaps map}<li><a href="{$pathBase}/frontend/nagvis-js/index.php?mod=AutoMap&amp;act=view&amp;show={$map.mapName}{$map.urlParams}">{$map.mapAlias}</a></li>{/foreach}
					<li class="spacer"><hr /></li>
					{/if}
					<li><a href="{$pathBase}/frontend/wui/index.php" class="underline">{$langWui}</a></li>
				</ul>
			</dd>
		</dl>
	</li>
	{if $mod == 'Map' || $mod == 'Automap' || $bRotation == true}
	<li>
		<dl class="dropdown">
			<dt id="action-ddheader" onmouseover="ddMenu('action',1)" onmouseout="ddMenu('action',-1)">{$langActions} <img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
			<dd id="action-ddcontent" onmouseover="cancelHide('action')" onmouseout="ddMenu('action',-1)">
				<ul>
					{if $mod == 'Map' || $mod == 'Automap'}
					<li><a href="javascript:showFrontendDialog(oGeneralProperties.path_server+'?mod=Search&act=view', '{$langSearch}')">{$langSearch}</a></li>
					{/if}
					{if $bRotation == true}
					<li id="rotationStart" style="display:none"><a href="javascript:switchRotation()">{$langRotationStart}</a></li>
					<li id="rotationStop" style="display:inline"><a href="javascript:switchRotation()">{$langRotationStop}</a></li>
					{/if}
					{if $mod == 'Map' && $permittedEdit == true}
					<li><a href="{$pathBase}/frontend/wui/index.php?mod=Map&amp;act=edit&amp;show={$currentMap}" class="underline">{$langEditMap}</a></li>
					{/if}
				</ul>
			</dd>
		</dl>
	</li>
	{/if}
	{if $mod == 'Map' && $act == 'edit' && $permittedEdit == true}
	<li>
		<dl class="dropdown">
			<dt id="map-ddheader" onmouseover="ddMenu('map',1)" onmouseout="ddMenu('map',-1)">{$langMap} <img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
			<dd id="map-ddcontent" onmouseover="cancelHide('map')" onmouseout="ddMenu('map',-1)">
				<ul>
					<li><a href="javascript:gridToggle()">{$langToggleGrid}</a></li>
					<li class="spacer"><hr /></li>
					<li><a class="submenu-link" id="map-addicon-ddheader" href="#" onmouseover="ddMenu('map-addicon',1,1)" onmouseout="ddMenu('map-addicon',-1)">{$langMapAddIcon}</a></li>
					<li><a class="submenu-link" id="map-addline-ddheader" href="#" onmouseover="ddMenu('map-addline',1,1)" onmouseout="ddMenu('map-addline',-1)">{$langMapAddLine}</a></li>
					<li><a class="submenu-link" id="map-addspecial-ddheader" href="#" onmouseover="ddMenu('map-addspecial',1,1)" onmouseout="ddMenu('map-addspecial',-1)">{$langMapAddSpecial}</a></li>
					<li class="spacer"><hr /></li>
					<li><a href="#" onclick="popupWindow('{$langMapManageTmpl}', getSyncRequest(oGeneralProperties.path_server+'?mod=Map&act=manageTmpl&map={$currentMap}', true, false), undefined, 300);">{$langMapManageTmpl}</a></li>
					<li><a href="#" onclick="popupWindow('{$langMapOptions}', getSyncRequest(oGeneralProperties.path_server+'?mod=Map&act=addModify&do=modify&map={$currentMap}&type=global&id=0', true, false));" class="underline">{$langMapOptions}</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="dropdown subdropdown">
			<dd id="map-addicon-ddcontent" onmouseover="cancelHide('map-addicon');cancelHide('map')" onmouseout="ddMenu('map-addicon',-1,1);ddMenu('map',-1)">
				<ul>
					<li><a class="topline topline" href="javascript:get_click('host',1,'add');ddMenuHide(['map-addicon','map']);">{$langHost}</a></li>
					<li><a class="topline" href="javascript:get_click('service',1,'add');ddMenuHide(['map-addicon','map']);">{$langService}</a></li>
					<li><a class="topline" href="javascript:get_click('hostgroup',1,'add');ddMenuHide(['map-addicon','map']);">{$langHostgroup}</a></li>
					<li><a class="topline" href="javascript:get_click('servicegroup',1,'add');ddMenuHide(['map-addicon','map']);">{$langServicegroup}</a></li>
					<li><a class="topline underline" href="javascript:get_click('map',1,'add');ddMenuHide(['map-addicon','map']);">{$langMap}</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="dropdown subdropdown">
			<dd id="map-addline-ddcontent" onmouseover="cancelHide('map-addline');cancelHide('map')" onmouseout="ddMenu('map-addline',-1,1);ddMenu('map',-1)">
				<ul>
					<li><a class="topline topline" href="javascript:get_click('host',2,'add');ddMenuHide(['map-addline','map']);">{$langHost}</a></li>
					<li><a class="topline" href="javascript:get_click('service',2,'add');ddMenuHide(['map-addline','map']);">{$langService}</a></li>
					<li><a class="topline" href="javascript:get_click('hostgroup',2,'add');ddMenuHide(['map-addline','map']);">{$langHostgroup}</a></li>
					<li><a class="topline" href="javascript:get_click('servicegroup',2,'add');ddMenuHide(['map-addline','map']);">{$langServicegroup}</a></li>
					<li><a class="topline underline" href="javascript:get_click('map',2,'add');ddMenuHide(['map-addline','map']);">{$langMap}</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="dropdown subdropdown">
			<dd id="map-addspecial-ddcontent" onmouseover="cancelHide('map-addspecial');cancelHide('map')" onmouseout="ddMenu('map-addspecial',-1,1);ddMenu('map',-1)">
				<ul>
					<li><a class="topline topline" href="javascript:get_click('shape',1,'add');ddMenuHide(['map-addspecial','map']);">{$langShape}</a></li>
					<li><a class="topline" href="javascript:get_click('textbox',2,'add');ddMenuHide(['map-addspecial','map']);">{$langTextbox}</a></li>
					<li><a class="topline underline" href="#">{$langStateless} {$langLine}</a></li>
				</ul>
			</dd>
		</dl>
	</li>
	{/if}
	{if ($mod == 'Map' && $act == 'edit') || ($mod == 'Welcome' && $act == 'view')}
	<li>
		<dl class="dropdown">
			<dt id="wui-ddheader" onmouseover="ddMenu('wui',1)" onmouseout="ddMenu('wui',-1)">{$langOptions} <img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
			<dd id="wui-ddcontent" onmouseover="cancelHide('wui')" onmouseout="ddMenu('wui',-1)">
				<ul>
					<li><a href="#" onclick="popupWindow('{$langWuiConfiguration}', getSyncRequest(oGeneralProperties.path_server+'?mod=MainCfg&act=edit', true, false), undefined, 970);">{$langWuiConfiguration}</a></li>
					<li class="spacer"><hr /></li>
					<li><a href="#" onclick="popupWindow('{$langMgmtBackends}', getSyncRequest('./ajax_handler.php?action=getFormContents&form=manageBackends', true, false));">{$langMgmtBackends}</a></li>
					<li><a href="#" onclick="popupWindow('{$langMgmtBackgrounds}', getSyncRequest(oGeneralProperties.path_server+'?mod=ManageBackgrounds&act=view', true, false));">{$langMgmtBackgrounds}</a></li>
					<li><a href="#" onclick="popupWindow('{$langMgmtMaps}', getSyncRequest('./ajax_handler.php?action=getFormContents&form=manageMaps', true, false));">{$langMgmtMaps}</a></li>
					<li><a class="underline" href="#" onclick="popupWindow('{$langMgmtShapes}', getSyncRequest(oGeneralProperties.path_server+'?mod=ManageShapes&act=view', true, false));">{$langMgmtShapes}</a></li>
				</ul>
			</dd>
		</dl>
	</li>
	{/if}
</ul>
<ul class="head right">
	<li>
		<dl class="dropdown">
		  <dt id="user-ddheader" onmouseover="ddMenu('user',1)" onmouseout="ddMenu('user',-1)">{$langUser}<img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
		  <dd id="user-ddcontent" onmouseover="cancelHide('user')" onmouseout="ddMenu('user',-1)">
		    <ul>
		    	<li><a href="#">{$langLoggedIn}: {$currentUser}</a></li>
		    	{if $permittedChangePassword == true}<li><a href="javascript:showFrontendDialog(oGeneralProperties.path_server+'?mod=ChangePassword&act=view', '{$langChangePassword}');">{$langChangePassword}</a></li>{/if}
		    	{if $permittedUserMgmt == true}<li><a href="javascript:showFrontendDialog(oGeneralProperties.path_server+'?mod=UserMgmt&act=view', '{$langUserMgmt}');">{$langUserMgmt}</a></li>{/if}
		    	{if $permittedRoleMgmt == true}<li><a href="javascript:showFrontendDialog(oGeneralProperties.path_server+'?mod=RoleMgmt&act=view', '{$langManageRoles}', 500);">{$langManageRoles}</a></li>{/if}
		    	<li><a href="#" onclick="getSyncRequest('{$pathBase}/server/core/ajax_handler.php?mod=Auth&amp;act=logout');return false;" class="underline">{$langLogout}</a></li>
		    </ul>
		  </dd>
		</dl>
	</li>
	<li>
		<dl class="dropdown">
		  <dt id="language-ddheader" onmouseover="ddMenu('language',1)" onmouseout="ddMenu('language',-1)">{$langChooseLanguage} <img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
		  <dd id="language-ddcontent" onmouseover="cancelHide('language')" onmouseout="ddMenu('language',-1)">
		    <ul>
		    	{foreach $langs lang}<li><a href="{$pathBase}/frontend/nagvis-js/index.php?lang={$lang.language}" {if $lang.classUnderline}class="underline"{/if}>{$lang.langLanguageLocated}</a></li>{/foreach}
		    </ul>
		  </dd>
		</dl>
	</li>
	<li>
		<dl class="dropdown">
		  <dt id="support-ddheader" onmouseover="ddMenu('support',1)" onmouseout="ddMenu('support',-1)">{$langNeedHelp} <img src="{$pathTemplateImages}default.header_down.png" alt="&#8711;" /></dt>
		  <dd id="support-ddcontent" onmouseover="cancelHide('support')" onmouseout="ddMenu('support',-1)">
		    <ul>
		      <li><a href="{$pathBase}/docs/{$currentLanguage}/index.html">{$langOnlineDoc}</a></li>
		      <li><a href="http://www.nagios-portal.org/wbb/index.php?page=Board&amp;boardID=42">{$langForum}</a></li>
		      <li><a href="{$pathBase}/frontend/nagvis-js/index.php?mod=Info" class="underline">{$langSupportInfo}</a></li>
		    </ul>
		  </dd>
		</dl>
	</li>
	<li style="width:120px"></li>
</ul>
</div>
