<input type="hidden" /><!-- The template must not start with a script tag. This would be ignored by IE //-->
<script type="text/javascript">
lang = {$lang};
</script>
<script type="text/javascript" src="{$htmlBase}/frontend/nagvis-js/js/ManageShapes.js"></script>

<form name="shape_add" id="shape_add" method="POST" action="{$htmlBase}/server/core/ajax_handler.php?mod=ManageShapes&amp;act=doUpload" enctype="multipart/form-data" onsubmit="return check_image_add();">
<table name="mytable" class="mytable" id="table_shape_add">
    <tr><th class="cat" colspan="2"><h2>{$langUploadShape}</h2></th></tr>
    <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
    <tr><td class="tdlabel">{$langChoosePngImage}</td>
    <td class="tdfield"><input class="upload" type="file" name="image_file" value="" /></td></tr>
    <tr><td class="tdlabel" colspan="2" align="center"><input class="submit" type="submit" name="submit" value="{$langUpload}" /></td></tr>
</table>
</form>

<form name="shape_delete" id="shape_delete" method="POST" action="javascript:submitFrontendForm('{$htmlBase}/server/core/ajax_handler.php?mod=ManageShapes&amp;act=doDelete', 'shape_delete');" enctype="" onsubmit="return check_image_delete();">
<table name="mytable" class="mytable" id="table_shape_delete">
    <tr><th class="cat" colspan="2"><h2>{$langDeleteShape}</h2></th></tr>
    <tr>
        <td class="tdlabel">{$langChoosePngImage}</td>
        <td class="tdfield">
            <select name="image" onChange="" onBlur="">
                <option value=""></option>
                {foreach $shapes shape}
                <option value="{$shape}">{$shape}</option>
                {/foreach}
            </select>
        </td>
    </tr>
    <tr><td class="tdlabel" colspan="2" align="center"><input class="submit" type="submit" name="submit" value="{$langDelete}" /></td></tr>
</table>
</form>
