<input type="hidden" /><!-- The template must not start with a script tag. This would be ignored by IE //-->
<script type="text/javascript">validMainConfig = {$validMainCfg}; lang = {$lang};</script>
<form name="edit_config" id="edit_config"  action="javascript:submitFrontendForm('{$htmlBase}/server/core/ajax_handler.php?mod=MainCfg&amp;act=doEdit', 'edit_config');" enctype="" >
<table name="mytable" class="mytable" id="table_edit_config" style="width:300px;float:left;">
{$formContents}
<tr><td class="tdlabel" colspan="3" align="center"><input class="submit" type="submit" name="submit" id="commit" value="{$langSave}" /></td></tr>
</table>
</form>