<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <title>{$pageTitle}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="{$htmlJs}nagvis.js"></script>
    <script type="text/javascript" src="{$htmlJs}frontendMessage.js"></script>
    <script type="text/javascript" src="{$htmlJs}frontendEventlog.js"></script>
    <script type="text/javascript" src="{$htmlJs}ajax.js"></script>
    <script type="text/javascript" src="{$htmlJs}frontend.js"></script>
    <link rel="stylesheet" type="text/css" href="{$htmlTemplates}default.css" />
    <link rel="stylesheet" type="text/css" href="{$htmlTemplates}default.login.css" id="login-css"  media="all" />
    <link rel="shortcut icon" href="{$htmlBase}/frontend/nagvis-js/images/internal/favicon.png" />
    <meta name='robots' content='noindex,nofollow' />
    <script type="text/javascript">
    oGeneralProperties = {$generalProperties};
    oLocales = {$locales};

    function checkCookies() {
        // Would rather use navigator.cookieEnabled but this is not very reliable
        document.cookie = "_testcookie";
        var iLikeCookies = (document.cookie.indexOf("_testcookie") != -1) ? true : false;

        if(!iLikeCookies)
            frontendMessage(\{'type': 'CRITICAL', 'message': '{$langTextCookiesDisabled}', 'title': '{$langTitleCookiesDisabled}'});
        else \{
            var d = new Date();
            document.cookie = "_testcookie;expires=" + d.toGMTString() + ";" + ";";
        }
    }
    </script>
</head>
<body class="login">

<div id="login">
<h1><a href="#" title="{$pageTitle}" style="background-image:url({$htmlImages}internal/logo.png)">{$pageTitle}</a></h1>

<form name="loginform" id="loginform" action="{$formTarget}" method="post">
    {if $loginMsg != ''}<p class="msg">
    <strong>Error:</strong> {$loginMsg}
    </p>{/if}
    <p>
        <label>{$langName}<br />
        <input type="text" name="_username" id="user_login" class="input" value="" size="{$maxUsernameLength}" tabindex="10" /></label>
    </p>
    <p>
        <label>{$langPassword}<br />
        <input type="password" name="_password" id="user_pass" class="input" value="" size="{$maxPasswordLength}" tabindex="20" /></label>

    </p>
    <p class="submit">
        <input type="submit" name="submit" id="submit" value="{$langLogin}" tabindex="100" />
    </p>
</form>
</div>

<script type="text/javascript">
try\{document.getElementById('user_login').focus();}catch(e)\{}; checkCookies();
</script>
</body>
</html>
