<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{$pageTitle}</title>
        <link rel="stylesheet" type="text/css" href="{$htmlTemplates}default.css" />
        <link rel="shortcut icon" href="{$htmlBase}/frontend/nagvis-js/images/internal/favicon.png" />
    </head>
    <body class="main">
        <div class="infopage">
            <h2>Support Information</h2>
            <table class="instinfo">
                <tr><th colspan="2">Version Information</th></tr>
                <tr><td>NagVis Version</td><td>{$nagvisVersion}</td></tr>
                <tr><td>PHP Version</td><td>{$phpVersion}</td></tr>
                <tr><td>MySQL Version</td><td>{$mysqlVersion}</td></tr>
                <tr><td>OS</td><td>{$os}</td></tr>
                <tr><th colspan="2">Webserver Information</th></tr>
                <tr><td>SERVER_SOFTWARE</td><td>{$serverSoftware}</td></tr>
                <tr><td>SCRIPT_FILENAME</td><td>{$scriptFilename}</td></tr>
                <tr><td>SCRIPT_NAME</td><td>{$scriptName}</td></tr>
                <tr><td>REQUEST_TIME</td><td>{$requestTime}</td></tr>
                <tr><th colspan="2">PHP Information</th></tr>
                <tr><td>error_reporting</td><td>{$phpErrorReporting}</td></tr>
                <tr><td>safe_mode</td><td>{$phpSafeMode}</td></tr>
                <tr><td>max_execution_time</td><td>{$phpMaxExecTime} seconds</td></tr>
                <tr><td>memory_limit</td><td>{$phpMemoryLimit}</td></tr>
                <tr><td>loaded modules</td><td>{$phpLoadedExtensions}</td></tr>
                <tr><td>json_encode</td><td>{$compatJsonEncode}</td></tr>
                <tr><td>json_decode</td><td>{$compatJsonDecode}</td></tr>
                <tr><th colspan="2">Client Information</th></tr>
                <tr><td>USER_AGENT</td><td>{$userAgent}</td></tr>
                <tr><th colspan="2">Logon Information</th></tr>
                <tr><td>Logon Module</td><td>{$logonModule}</td></tr>
                <tr><td>Auth Module</td><td>{$authModule}</td></tr>
                <tr><td>Authorization Module</td><td>{$authorisationModule}</td></tr>
                <tr><td>Logon Var</td><td>{$logonEnvVar}</td></tr>
                <tr><td>{$logonEnvVar}</td><td>{$logonEnvVal}</td></tr>
                <tr><td>Logon Create User?</td><td>{$logonEnvCreateUser}</td></tr>
                <tr><td>Logon Create User Role?</td><td>{$logonEnvCreateRole}</td></tr>
                <tr><th colspan="2">Current User Information</th></tr>
                <tr><td>User Logged In</td><td>{$loggedIn}</td></tr>
                <tr><td>User Auth Module</td><td>{$userAuthModule}</td></tr>
                <tr><td>User Logon Module</td><td>{$userLogonModule}</td></tr>
                <tr><td>User Trusted Auth</td><td>{$userAuthTrusted}</td></tr>
                <tr><td>User Roles</td><td>{$userRoles}</td></tr>
                <tr><td>User Permissions</td><td>{$userPerms}</td></tr>
            </table>
        </div>
    </body>
</html>
