<form name="addmodify" id="addmodify"  action="javascript:submitFrontendForm2('{$htmlBase}/server/core/ajax_handler.php?mod=Map&amp;act=addModify&amp;show={$show}', 'addmodify');" enctype="">
{if $successMsg != ''}<div class=success>{$successMsg}</div>
<script type="text/javascript">
window.setTimeout(function() \{ window.location.reload(); }, 2000);
</script>{/if}
<table name="mytable" class="mytable" id="table_addmodify">
    {foreach $attrs key value}<input type="hidden" id="{$key}" name="{$key}" value="{$value}" />{/foreach}
{$formContents}
    <tr>
        <td class="tdlabel" colspan="3" align="center">
            <input class="submit" type="submit" name="submit" id="commit" value="{$langSave}" />
        </td>
    </tr>
</table>
</form>
