<script type="text/javascript">
oGeneralProperties = {$generalProperties};
oViewProperties = {$viewProperties};
oUserProperties = {$userProperties};

var mapname = '{$mapName}';
var username = '{$userName}';

var lang = {$lang};
var validMainConfig = {$validMainCfg};
var validMapConfig = {$validMapCfg};

var mapOptions = {$mapOptions};
var backupAvailable = {$backupAvailable};
</script>

<div id="mymap" class="map">
	<!-- background -->
	{if $backgroundImg != ''}
	<img id="background" src="{$backgroundImg}" style="z-index:0;" alt="">
	{/if}
	
	<!-- map objects -->
	{$mapObjects}
</div>

<script type="text/javascript">
// Parses the grid if a user enabled it
gridParse();

makeDragable({$movable}, saveObjectAfterMoveAndDrop);

// This disables the context menu when someone clicked anywhere on the map
document.onmousedown = contextMouseDown;
</script>
