<div id="map" class="map">
    {$automap}
</div>

<script type="text/javascript">
oGeneralProperties = {$generalProperties};
oWorkerProperties = {$workerProperties};
oRotationProperties = {$rotationProperties};
oViewProperties = {$viewProperties};
oUserProperties = {$userProperties};
oStates = {$stateProperties};
oAutomapParams = {$automapParams};
oFileAges = {$fileAges};

// Kick of the worker
addDOMLoadEvent(function()\{runWorker(0, 'automap', '{$mapName}');});

// This disables the context menu when someone clicked anywhere on the map
document.onmousedown = contextMouseDown;
window.onresize = function() { scaleView(); }
window.onscroll = function() { scaleView(); };
</script>
