<form name="addmodify" id="addmodify"  action="javascript:submitFrontendForm2('{$htmlBase}/server/core/ajax_handler.php?mod=Map&amp;act=addModify&amp;show={$show}', 'addmodify');" enctype="">

{if $successMsg != ''}<div class=success>{$successMsg}</div>
<script type="text/javascript">
document.getElementById('commit').disabled = true;
window.setTimeout(function() \{ window.location.reload(); }, {$reloadTime}*1000);
</script>
{elseif $addParams != '' && $addParams != '{}'}<script type="text/javascript">
document.getElementById('commit').disabled = true;
window.setTimeout(function() \{ window.location.href = makeuri({$addParams}); }, {$reloadTime}*1000);
</script>{/if}

<table name="mytable" class="mytable" id="table_addmodify">
    {foreach $attrs key value}<input type="hidden" id="{$key}" name="{$key}" value="{$value}" />{/foreach}
{$formContents}
    {if $mode == 'view_params'}<tr><td colspan=3 style="height:10px;"></td></tr>
    <tr>
        <td class=tdlabel>{$langPermanent}</td>
        <td class=tdbox></td>
        <td class=tdfield>
            <input class="checkbox" type="checkbox" name="perm" value="1" />{$langForAll}<br />
            <input class="checkbox" type="checkbox" name="perm_user" value="1" />{$langForYou}
        </td>
    </tr>{/if}
    <tr>
        <td class="tdlabel" colspan="3" align="center">
            <input class="submit" type="submit" name="submit" id="commit" value="{$langSave}" />
        </td>
    </tr>
</table>
</form>
