<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>

<script type="text/javascript">
oGeneralProperties = {$generalProperties};

var mapname = '{$mapName}';
var username = '{$userName}';

var langMenu = {$langMenu};
var lang = {$lang};
var validMainConfig = {$validMainCfg};
var validMapConfig = {$validMapCfg};

var mapOptions = {$mapOptions};
var backupAvailable = {$backupAvailable};
</script>

<div id="mymap" class="map">
	<script type="text/javascript">
		// Prepare line drawing when adding or moving lines
		var myshape_background = new jsGraphics('mymap');
		myshape_background.setColor('#FF0000');
		myshape_background.setStroke(1);
	</script>
	
	<!-- background -->
	{if $backgroundImg != ''}
	<img id="background" src="{$backgroundImg}" style="z-index:0;" alt="">
	{/if}
	
	<!-- map objects -->
	{$mapObjects}
</div>

<script type="text/javascript">
// Draw lines etc. on the background
myshape_background.paint();

// build the right-click menu
initjsDOMenu();

{if $movable != ''}
SET_DHTML(SCROLL,NO_ALT,TRANSPARENT,CURSOR_HAND, {$movable});
{/if}
</script>

<!-- Important to have this in body -->
<script type="text/javascript" src="{$base}/frontend/wui/js/wz_tooltip.js"></script>
