<script type="text/javascript" src="{$pathTemplates}default.header.js"></script>
<script type="text/javascript">
function filter_group(field) \{
    var grp = field.value;
    if (g_worker_id)
        window.clearTimeout(g_worker_id);

    window.location = makeuri(\{'filter_group': grp});
    storeUserOption('params-', '\{"filter_group": "'+grp+'"}');
}
</script>
<div id="headershow" class="header"><a href="#" onclick="toggleHeader(true)" title="Show header menu">&gt;</a></div>
<div id="header" class="header">
<ul class="head">
    <li class="toggle"><a href="#" onclick="toggleHeader(true)" title="Hide header menu">&lt;</a></li>
    <li><span>Filter:</span></li>
    <li><span>
      <select onchange="filter_group(this)">
        {foreach $hostgroups hostgroup}<option {if $filter_group == $hostgroup.name1}selected {/if}value="{$hostgroup.name1}">{$hostgroup.name2}</option>{/foreach}
      </select>
    </span></li>
  </li>
</ul>
</div>
<div id="headerspacer"></div>
<script type="text/javascript">addDOMLoadEvent(function()\{headerDraw();});</script>
