<style type="text/css">
table.hover_table {
        background-color: #F5F5F5;
        border-collapse:collapse;
}

table.hover_table td, table.hover_table th {
        border: 1px #a4a4a4 solid;
        padding: 2px;
        font-size: 12px;
        color: #314455;
}

table.hover_table th {
	background-image: url([html_template_images]/bg_darkglass.png);
        text-align: center;
        color: #0066ff
}

table.hover_table td {
        text-align: center;
        background-color: #eee;
}

table.hover_table td.label {
	text-align: center;
	background-color: #eee;
}

table.hover_table td.labelACK {
	text-align: center;
	background-color: #eee;
}

table.hover_table td.labelPENDING {
	text-align: center;
	background-color: #eee;
}

table.hover_table td.labelOK, table.hover_table td.labelUP {
	text-align: center;
	background-color: #66FF66;
}

table.hover_table td.labelWARNING {
	text-align: center;
	background-color: #FFFF7E;
}

table.hover_table td.labelCRITICAL, table.hover_table td.labelDOWN {
	text-align: center;
	background-color: #FFBBBB;
}

table.hover_table td.labelERROR {
	text-align: center;
	background-color: #eee;
}

table.hover_table td.labelUNKNOWN {
	text-align: center;
	 background-color: #FFFF99;
}

table.hover_table label {
        font-weight: bold;
}

table.hover_table td.statePENDING {
        background-color: #ffffff;
}

table.hover_table td.stateOK, table.hover_table td.stateUP {
        background-color: #00CC00;
}

table.hover_table td.stateWARNING {
        background-color: #FFFF00;
}

table.hover_table td.stateCRITICAL, table.hover_table td.stateDOWN {
        background-color: #F83838;
}

table.hover_table td.stateERROR {
        background-color: #66CCFF;
}

table.hover_table td.stateUNKNOWN {
        background-color: #FFCC00;
}
</style>

<table class="hover_table">
	<tr><th colspan="2">[lang_obj_type]</th></tr>
	<tr><td class="label"><label>[lang_instance]</label></td><td>[obj_backend_instancename] (Backen-ID: [obj_backendid])</td></tr>
	<tr><td class="label"><label>[lang_name]</label></td><td>[obj_name]</td></tr>
       	<tr><td class="label"><label>[lang_alias]</label></td><td>[obj_alias]</td></tr>

        <!-- BEGIN service -->
        <tr><td class="label"><label>[lang_service_description]</label></td><td>[service_description]</td></tr>
        <!-- END service -->

        <tr><td class="spacer" colspan="2"></td></tr>
        <tr><td class="label[obj_summary_state]"><label>[lang_summary_state]</label></td><td class="state[obj_summary_state]">[obj_summary_state][obj_summary_in_downtime][obj_summary_acknowledged]</td></tr>
        <tr><td class="label"><label>[lang_summary_output]</label></td><td>[obj_summary_output]</td></tr>

        <!-- BEGIN service -->
        <tr><td class="label"><label>[lang_current_attempt]</label></td><td>[obj_current_check_attempt]/[obj_max_check_attempts]</td></tr>
        <tr><td class="label"><label>[lang_state_type]</label></td><td>[obj_state_type]</td></tr>
        <tr><td class="label"><label>[lang_last_check]</label></td><td>[obj_last_check]</td></tr>
        <tr><td class="label"><label>[lang_next_check]</label></td><td>[obj_next_check]</td></tr>
        <tr><td class="label"><label>[lang_last_state_change]</label></td><td>[obj_last_state_change]</td></tr>
        <!-- END service -->

        <tr><td class="spacer" colspan="2"></td></tr>
        <tr><td colspan="2">
                <table>
			<tr><th><label>PNP-Graph</label></th>
			<tr></td><td><img src=/nagios/pnp/index.php?host=[pnp_hostname]&srv=[pnp_service_description]&display=image&view=0></td></tr>
                </table>
        </td></tr>
</table>
