# Exclude misc files
*.bak
*.swp
*~
*.tar.gz
.metadata
uifx/.settings
uifx/.actionScriptProperties
uifx/.flexProperties
uifx/.project
uifx/bin
uifx/bin-release
install.log
mache

# Exclude main configuration file
etc/nagvis.ini.php

# Exclude all maps except the demo maps
etc/maps/*.cfg
!etc/maps/demo*.cfg

# Exclude all maps except the default automap
etc/automaps/*.cfg
!etc/automaps/__automap.cfg
!etc/automaps/demo*.cfg

# Exclude all background images except the default
share/nagvis/images/maps/*.png
!share/nagvis/images/maps/demo_background.png
!share/nagvis/images/maps/nagvis-demo.png
!share/nagvis/images/maps/geomap-thumb.png

# Exclude all shapes except the default
share/nagvis/images/shapes/*.png
share/nagvis/images/shapes/*.jpg
share/nagvis/images/shapes/*.gif
!share/nagvis/images/shapes/demo*.png

# Exclude all header/hover/context templates except the default
share/nagvis/templates/*/*.html
share/nagvis/templates/*/*.css
!share/nagvis/templates/*/tmpl.default.html
!share/nagvis/templates/*/tmpl.default.css

# Exclude all gadgets except the default
share/nagvis/gadgets/*.php
!share/nagvis/gadgets/std_speedometer.php

# Exclude all var contents
var/*
