table { 
	background-color: #F5F5F5; 
	width: 100%;
}

tr {
	height: 20px;
	border:none;
}

td {
	border-style: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

form {
	padding: 0;
	margin: 0;
}

.main {
	margin: 0;
	padding: 0;
	background-color: white;
}

.submit {
	font-weight: bold;
	color: #000; 
	text-align: center;
	vertical-align: middle;
	
	height:25px;
	
	border: 1px solid #000;
	background-color: #DADADA;
}

.tdtitle {
	font-size: 16px;
	font-weight: bold;
	color: #314455;
	
	text-align: left;
	height: 30px;
}

.tdcat {
	font-size: 16px;
	font-weight: bold;
	color: #314455;
	
	text-align: left;
	height: 30px;
}

.tdlabel {
	font-weight: bold;
	font-size: 13px;
	
	width: 50%;
	
	border: 1px solid #A4A4A4;
  	height: 30px;
	color: #2B5377;
	text-align: right;
} 

.tdfield { 
	font-size: 11px;
	font-weight: bold;
	color: #2B5377;
	
	text-align: left; 
	
 	border: 1px solid #A4A4A4;
}

.tdfield input,select {
	background-color: #E4EEF6; 
	border: 1px solid #284279;
	width: 100%;
}

/* WUI INFOBOX */
table.infobox {
	background-color: #F5F5F5; 
	border-collapse:collapse;
	padding: 1px;
	width: 100%;
}

table.infobox td, table.infobox th {
	border: 1px #a4a4a4 solid;
	padding: 1px;
	
	font-size: 11px;
	color: #314455;
}

table.infobox th {
	text-align: center;
	background-color: #eee;
}

/* display inherited settings in gray font */
table.infobox tr.inherited th, table.infobox tr.inherited td {
	color: #a4a4a4;
}