table { 
	background-color: #F5F5F5; 
	width: 100%;
}

tr {
	height: 20px;
	border:none;
}

td {
	border-style:none;	
}

form {
	padding: 0;
	margin: 0;
}

.submit {
	border: 2px ridge Black;
	font: bold 15px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: Black; 
	background-color: #DADADA; 
	text-align: center;
	vertical-align: middle;
	
	height:25px;
}

.tdtitle { 
	font: bolder 16px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #314455;
	
	text-align: left;
	height: 30px;
}

.tdcat { 
	font: bolder 16px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #314455;
	
	text-align: left;
	height: 30px;
}

.tdlabel { 
	font: bolder 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	border: 2px ridge #A4A4A4;
  	height: 30px;
	color: #2B5377;
	text-align: right;
} 

.tdfield { 
	font: bolder 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 	border: 2px ridge #A4A4A4;
	color: #2B5377;
	text-align: left; 
} 

.tdfield input { 
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-color: #E4EEF6; 
	border: 1px solid #284279;
	width: 100%;
} 


.tdfield select { 
	width: auto; 
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-color: #E4EEF6; 
	border: 1px solid #284279;
	width: 100%;
} 

.tdfield_linetype { 
	background-color: White;
	border-style:none;
	padding-left: 10px;
}

.tdfield_linetype select { 
	width: auto; 
	background-color: #E4EEF6; 
	border: 1px solid #284279;
	margin-right: 0px; 
}

.curseur {
	cursor: move;
}
