<link rel="stylesheet" type="text/css" href="[html_templates]tmpl.default.css" />
<script type="text/javascript" src="[html_templates]tmpl.default.js"></script>
<ul class="head">
	<li class="logo"><a href="[html_base]/frontend/nagvis-js/index.php"><img src="[html_images]internal/logo_96x25.png" alt="NagVis" /></a></li>
	<li>
		<dl class="dropdown">
			<dt id="views-ddheader" onmouseover="ddMenu('views',1)" onmouseout="ddMenu('views',-1)">[lang_select_map] <img src="[html_template_images]tmpl.default.header_down.png" alt="&#8711;" /></dt>
			<dd id="views-ddcontent" onmouseover="cancelHide('views')" onmouseout="ddMenu('views',-1)">
				<ul>
					<li><a href="[html_base]/frontend/nagvis-js/index.php">[lang_overview]</a></li>
					<!-- BEGIN maplist --><li><a href="[html_base]/frontend/nagvis-js/index.php?mod=Map&amp;act=view&amp;show=[map_name][url_params]">[map_alias]</a></li><!-- END maplist -->
					<!-- BEGIN automaplist --><li><a href="[html_base]/frontend/nagvis-js/index.php?mod=AutoMap&amp;act=view&amp;show=[map_name][url_params]">[map_alias]</a></li><!-- END automaplist -->
					<li><a href="[html_base]/frontend/wui/index.php?map=[current_map]" class="underline">[lang_edit_map]</a></li>
				</ul>
			</dd>
		</dl>
	</li>
	<li style="width:300px;"></li>
	<li>
		<dl class="dropdown">
		  <dt id="user-ddheader" onmouseover="ddMenu('user',1)" onmouseout="ddMenu('user',-1)">[lang_user]<img src="[html_template_images]tmpl.default.header_down.png" alt="&#8711;" /></dt>
		  <dd id="user-ddcontent" onmouseover="cancelHide('user')" onmouseout="ddMenu('user',-1)">
		    <ul>
		    	<li><a href="#">[lang_logged_in]: [current_user]</a></li>
		    	<li><a href="javascript:showChangePassword('[lang_change_password]');">[lang_change_password]</a></li>
		    	<li><a href="[html_base]/frontend/nagvis-js/index.php?mod=LogonDialog&amp;act=logout" class="underline">[lang_logout]</a></li>
		    </ul>
		  </dd>
		</dl>
	</li>
	<li>
		<dl class="dropdown">
		  <dt id="language-ddheader" onmouseover="ddMenu('language',1)" onmouseout="ddMenu('language',-1)">[lang_choose_language] <img src="[html_template_images]tmpl.default.header_down.png" alt="&#8711;" /></dt>
		  <dd id="language-ddcontent" onmouseover="cancelHide('language')" onmouseout="ddMenu('language',-1)">
		    <ul>
		    	<!-- BEGIN langlist --><li><a href="[html_base]/frontend/nagvis-js/index.php?lang=[language]" [class_underline]>[lang_language_located]</a></li><!-- END langlist -->
		    </ul>
		  </dd>
		</dl>
	</li>
	<li>
		<dl class="dropdown">
		  <dt id="support-ddheader" onmouseover="ddMenu('support',1)" onmouseout="ddMenu('support',-1)">[lang_need_help] <img src="[html_template_images]tmpl.default.header_down.png" alt="&#8711;" /></dt>
		  <dd id="support-ddcontent" onmouseover="cancelHide('support')" onmouseout="ddMenu('support',-1)">
		    <ul>
		      <li><a href="[html_base]/docs/[current_language]/index.html">[lang_online_doc]</a></li>
		      <li><a href="http://www.nagios-portal.org/wbb/index.php?page=Board&amp;boardID=42">[lang_forum]</a></li>
		      <li><a href="[html_base]/frontend/nagvis-js/index.php?mod=Info" class="underline">[lang_support_info]</a></li>
		    </ul>
		  </dd>
		</dl>
	</li>
</ul>
<script type="text/javascript">setRotationLabel('[lang_rotation_start]','[lang_rotation_stop]');</script>
