<style type="text/css"><!--@import url([html_base]/nagvis/etc/templates/header/tmpl.default.css); --></style>
<table class="header_table">
	<tr>
		<th style="width:150px;">Select Map: </th>
		<td style="width:200px;">
			<select style="width:100%;" name="chooseMap" onChange="location.href='./index.php?map='+this.options[selectedIndex].value">
				<!-- BEGIN maplist --><option value="[map_name]" [selected]>[map_alias]</option><!-- END maplist -->
			</select>
		</td>
		<th style="width:150px;"><a href="../config.php?map=[current_map]">Edit Current Map</a></th>
		<td></td>
	</tr>
</table>