/* ######################################################################
##     	                           NagVis                              ##
##                                                                     ##
##                    *** StyleSheet's for NagVis ***                  ##
##                               Lizenz GPL                            ##
###################################################################### */

body, table, th, td {
	margin: 0;
	padding: 0;
	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	
	color: black;
	font-size: 12pt;
}

img {
    border: 0
}

/* Global DIVs */
.main {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
}

.header {
	top: 0;
	left: 0;
	padding: 0;
	position: relative;
}

.map {
	position : relative;
	top: 0;
	left: 0;
}

/* Header-Menu */

table.header_table {
	background-image: url(/nagios/nagvis/nagvis/images/internal/background_header.png);
	border-collapse:collapse;
	width: 100%;
}

table.header_table td, table.header_table th {
	background-image: url(/nagios/nagvis/nagvis/images/internal/background_header.png);
	border: 0px #a4a4a4 solid;
	padding: 2px;
	font-size: 12px;
	color: #0066FF;
}

table.header_table th {
	background-image: url(/nagios/nagvis/nagvis/images/internal/background_header.png);
	text-align: center;
}

table.header_table a {
	color: #66CC00;
	text-decoration: none;
}

table.header_table a:hover {
	color: #00CC66;
	text-decoration: underline;
}

/* Message-Box */
.messageBox {
	width: 600px;
	border: 0px;
	background-color:  #CCCCCC;
}

.messageBox th {
	height: 22px;
	
	background-color: #CCCCCC;
	
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
}
	
.messageBox td {
	height: 200px;
	
	background-color: #EEEEEE;
	
	font-size: 12pt;
	font-weight: bold; 
	text-align: center;
}

/* icons */
.icon {
    position : absolute;
    border : 0;
    z-index : 1;
}

/* lines */
.line {
    position : absolute;
    z-index : 1;
    border-style : dotted;
    border-width : 1px;
    border-color : black;
}

/* textbox (object on map) */
.box {
    position : absolute;
    z-index : 1;
	border: 1px #000 solid;
    font-family: arial,serif ;
    font-size: 11px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 3px;
    padding-top: 1px;
}

/* labels for the objects on the maps */
.object_label {
    position : absolute;
    z-index : 1;
	border: 1px #000 solid;
    font-family: Verdana,arial,serif ;
    font-size: 11px;
    padding: 2px;
}

/* InstInfo table (index.php?info) */
table.instinfo {
	margin: auto;
	margin-top: 25px;
	
	width: 800px;
	
	background-color: #F5F5F5;
	border-collapse:collapse;
}

table.instinfo td, table.instinfo th {
	border: 1px #a4a4a4 solid;
	padding: 4px;
	
	font-size: 11px;
	color: #314455;
}

table.instinfo th {
	text-align: center;
	background-color: #eee;
}

table.instinfo th.head {
	font-size: 20px;
}

/* hover_table table (used in hover templates) */

table.hover_table {
	background-color: #F5F5F5;
	border-collapse:collapse;
}

table.hover_table td, table.hover_table th {
	border: 1px #a4a4a4 solid;
	padding: 2px;
	font-size: 10px;
	color: #314455;
}

table.hover_table th {
	text-align: center;
	background-image: url(/nagios/nagvis/nagvis/images/internal/background_hover.png);
	color: #0066FF;
}

table.hover_table td.label {
	text-align: center;
	background-color: #eee;
}

table.hover_table label {
	font-weight: bold;
}
