<div class="context">
<link rel="stylesheet" type="text/css" href="[html_templates]tmpl.default.css" />
<ul>
	<li><a href="#" onClick="refreshMapObject('[obj_id]'); contextHide();">Refresh status</a></li>
	<!-- BEGIN host -->
	<li></li>
	<li><a href="[html_cgi]/cmd.cgi?cmd_typ=55&host=[name]" target="_blank">Schedule downtime</a></li>
	<li><a href="[html_cgi]/cmd.cgi?cmd_typ=96&host=[name]&force_check" target="_blank">Re-Schedule next check</a></li>
	<!-- END host -->
	<!-- BEGIN service -->
	<li></li>
	<li><a href="[html_cgi]/cmd.cgi?cmd_typ=56&host=[name]&service=[service_description]" target="_blank">Schedule downtime</a></li>
	<li><a href="[html_cgi]/cmd.cgi?cmd_typ=7&host=[name]&service=[service_description]&force_check" target="_blank">Re-Schedule next check</a></li>
	<!-- END service -->
</ul>
</div>
