<style type="text/css"><!--@import url([html_templates]tmpl.default.css); --></style>
<table class="header_table">
	<tr>
	    <th style="width:150px;text-align:left;padding-left:20px;"><a href="[html_base]/index.php">NagVis</a></th>
		<td style="width:150px;padding-left:10px;">[lang_select_map]: </td>
		<td style="width:150px;">
			<select style="width:100%;" name="chooseMap" onChange="location.href='[html_base]/nagvis/index.php?map='+this.options[this.selectedIndex].value">
				<!-- BEGIN maplist --><option value="[map_name]" [selected]>[map_alias]</option><!-- END maplist -->
			</select>
		</td>
		<th style="width:150px;"><a href="[html_base]/wui/index.php?map=[current_map]">[lang_edit_map]</a></th>
		<td></td>
		<td style="width:20px;text-align:center;" id="refreshCounter"></td>
		<th style="width:150px;"><a id="rotationSwitch" href="#" onClick="switchRotation(this,'[lang_rotation_start]','[lang_rotation_stop]');"><!-- This label is set with the setRotationLabel() function dynamicaly --></a></th>
		<td style="width:150px;">
			<select style="width:100%;" name="chooseSupport" onChange="window.open(this.options[selectedIndex].value);this.selectedIndex=0">
				<option value="" selected="selected">[lang_need_help]</option>
				<option value="http://nagvis.org/doc">[lang_online_doc]</option>
				<option value="http://www.nagios-portal.de/forum/board.php?boardid=42">[lang_forum]</option>
				<option value="[html_base]/nagvis/index.php?info">[lang_support_info]</option>
			</select>
		</td>
	</tr>
</table>
<script>setRotationLabel('[lang_rotation_start]','[lang_rotation_stop]');</script>