<style type="text/css">
table.header_menu {
        border-collapse: collapse;
        width: 100%;
}

table.header_menu th {
        border: 0px #a4a4a4 solid;
        padding: 2px;
        font-size: 12px;
        color: #0066FF;
        text-align: center;
}

#choose_map {
	width: 150px;
}

#edit_map {
	width: 300px;
}

#unused {
	width: *;
}

#rotation {
	width: 150px;
}

table.header_menu td {
        background-image: url([html_template_images]/bg_darkglass.png);
        border: 0px #a4a4a4 solid;
        padding: 2px;
        font-size: 12px;
        color: #0066FF;
}

#choose_map {
	width: 200px;
}

#choose_help {
	width: 200px;
}

#refreshCounterHead {
        width: 20px;
        align: center;
}

table.header_menu a {
        color: #66CC00;
        text-decoration: none;
}

table.header_menu a:hover {
        color: #00CC66;
        text-decoration: underline;
}

table.header_menu select {
	width: 100%;
}
</style>

<table class="header_menu">
	<tr>
		<td>
			<table class="header_menu">
				<tr>
					<th id="choose_map">[lang_select_map]:</th>
					<td id="choose_map">
						<select name="chooseMap" onChange="location.href='./index.php?map='+this.options[selectedIndex].value">
							<option value="" [selected]>[lang_overview]</option>
							<!-- BEGIN maplist --><option value="[map_name]" [selected]>[map_alias]</option><!-- END maplist -->
						</select>
					</td>
					<th id="edit_map"><a href="[html_base]/wui/index.php?map=[current_map]">[lang_edit_map]</a></th>
					<td></td>
					<td id="refreshCounterHead"></td>
                			<th id="rotation"><a id="rotationSwitch" href="#" onClick="switchRotation(this,'[lang_rotation_start]','[lang_rotation_stop]');"><!-- This label is set with the setRotationLabel() function dynamicaly --></a></th>
					<td id="choose_help">
			                        <select name="chooseSupport" onChange="window.open(this.options[selectedIndex].value);this.selectedIndex=0"> 
							<option value="" selected="selected">[lang_need_help]</option>
                       				        <option value="http://nagvis.org/doc">[lang_online_doc]</option>
                                			<option value="http://www.nagios-portal.de/forum/board.php?boardid=42">[lang_forum]</option>
                                			<option value="[html_base]/nagvis/index.php?info">[lang_support_info]</option>
						</select>
					</td>
					<th id="unused"></th>
				</tr>
			</table>
		</td>
	</tr>
</table>
