body {
	font-family: Arial, Serif;
	font-size: 10pt;
}

a, a:visited {
	color: #45b1cd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre, code {
	padding: 1px;
	border: 1px solid gray;
	background-color: #E0E0E0;
}

table {
	margin: 5px;
}

table th, table td {
	background-color: #E0E0E0;
}

table th {
	border: 1px solid gray;
}