Dialog
{
	borderStyle : solid;
	borderColor : #000000;
	cornerRadius : 10;
	backgroundAlpha : 1.0;
	backgroundColor : #ffffff;
}

PromptingTextInput
{
	borderStyle : solid;
	borderColor : #000000;
	cornerRadius : 4;
}

PromptingTextArea
{
	borderStyle : solid;
	borderColor : #000000;
	cornerRadius : 4;
}
