<style type="text/css"><!--@import url([html_templates]tmpl.default.css); --></style>
<table class="hover_table">
	<tr><th colspan="2">[lang_obj_type]</th></tr>
	<tr><td class="label"><label>[lang_name]</label></td><td>[obj_name]</td></tr>
	<tr><td class="label"><label>[lang_state]</label></td><td>[obj_state]</td></tr>
	<tr><td class="label"><label>[lang_output]</label></td><td>[obj_output]</td></tr>
	<!-- BEGIN detailoutput --><tr>
		<td class="label"><label>Detail Output</label></td>
		<td>
			<table>
				<!-- BEGIN statelist --><tr class="detailoutput"><td>[child_obj_name]</td><td class="state[child_obj_state]">[child_obj_state]</td><td>[child_obj_output]</td></tr><!-- END statelist -->
			</table>
		</td>
	</tr><!-- END detailoutput -->
</table>
