/** 
 * CSS Code used by the default hover template (tmpl.default.html)
 */
table.hover_table {
	background-color: #F5F5F5;
	border-collapse:collapse;
}

table.hover_table td, table.hover_table th {
	border: 1px #a4a4a4 solid;
	padding: 2px;
	
	font-size: 12px;
	color: #314455;
}

table.hover_table th {
	text-align: center;
	background-color: #eee;
}

table.hover_table td.label {
	text-align: center;
	vertical-align: top;
	background-color: #eee;
}

table.hover_table label {
	font-weight: bold;
}

table.hover_table tr.detailoutput td {
	font-size: 10px;
	padding: 1px;
	color: #000000;
}

table.hover_table td.stateOK {
	background-color: #33FF00;
}
table.hover_table td.stateACK {
	background-color: #1E83F0;
}
table.hover_table td.stateUNKNOWN { 
	background-color: #FF9900;
}
table.hover_table td.stateWARNING {
	background-color: #FFFF00;
}
table.hover_table td.stateCRITICAL {
	background-color: #F83838;
}