
table.errorBox
	{
		border: 0px;
		background-color:  #5B95DD;
	}

td.errorBoxHead
	{
		height: 20px;
		background-color: #5B95DD;
		font-size: 17px;
		font-family: verdana;
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}
	
td.errorBoxMessage
	{
		height: 200px;
		background-color: #99C5FB;
		font-size: 11px;
		font-family: verdana;
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}